* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: 'SourceSansProBold';

  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.eot');
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'SourceSansPro';

  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.eot');
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'SourceSansProLight';

  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Light.eot');
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/SourceSansPro/SourceSansPro-Light.svg#svgFontName') format('svg');
}

:root {
  --color-top-left: #525252;
  --color-bot-right: #343434;

  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-green: #56f1b6;
  --color-red: #f15656;
  --color-grey-dark: #595959;
  --color-grey-darker: #414141;


  --color-input: #DDDDDD;
  --color-input-bg: #F3F3F3;
  --color-button: #FCFCFC;

}

body {
  font-family: 'SourceSansPro';
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'SourceSansProBold';
}

h2 {
  font-size: 32px;
}

h5 {
  font-size: 18px;
}

.btn {
  padding-block: 10px; 
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--color-white);
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.25);
}

.btn.uppercase {
  text-transform: uppercase;
}

.cursor {
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(82,82,82);
  background: linear-gradient(90deg, rgba(82,82,82,1) 0%, rgba(52,52,52,1) 100%);
}

.popup {
  position: absolute;
  display: none;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.popup-wrap {
  position: relative;
  display: none;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.popup-wrap button[data-popup="close"] {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  content: '';
}

.popup-form {
  padding: 80px 50px;
  background-color: var(--color-white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.popup-form h2,
.popup-progress h5 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.popup-form h2::after,
.popup-progress h5::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-input);
  content: '';
}

.popup-form form {
  padding-top: 10px;
}

.popup-form .input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-block: 10px;
}

.popup-form .input-group label {
  font-size: 12px;
}

.popup-form .input-group input,
.popup-form .input-group label[for="uploadFile"] {
  height: 35px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 20px;
  background-color: var(--color-input-bg);
  border: none;
  border-radius: 5px;
  box-shadow: 0 -1px 2px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 -1px 2px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 -1px 2px 0px rgba(0,0,0,0.25);
}

.popup-form .input-group input[type="file"] {
  display: none;
}

.popup-form .input-group:first-of-type::after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-input);
  content: '';
}

.popup-form .button-wrap {
  display: flex;
  gap: 10px
}

.popup-form .button-wrap .btn {
  width: 40%;
}

.popup-form .button-wrap .btn.uppercase {
  width: 60%;
}

.popup-progress {
  padding: 80px 30px;
  background-color: var(--color-grey-dark);
  color: var(--color-white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.popup-progress h5::after {
  background-color: var(--color-grey-darker);
}

.progress-header, .progress-block {
  display: flex;
}

.progress-header {
  gap: 85px;
  text-transform: uppercase;
  font-family: 'SourceSansProBold';
}

.progress-block {
  align-items: center;
  gap: 50px;
  margin-block: 10px;
  background-color: var(--color-grey-darker);
  padding-block: 10px;
  padding-inline: 5px;
  border-radius: 5px;
}

.progress-block > :nth-child(2) {
  width: 95px;
  word-wrap: break-word;
}
.progress-block > :last-child {
  /* min-width: 200px; */
  width: 200px;
  height: 15px;
}

.progress-block span {
  font-size: 12px;
}

.progress-block .progress-bar {
  position: relative;
  background-color: var(--color-grey-dark);
  border-radius: 10px;
}

.progress-block .progress-bar span {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.progress-block .progress-bar span.active {
  background-color: var(--color-green);
}

.progress-block .progress-bar span.stop {
  background-color: var(--color-red);
} 

.screen-size-info {
  text-align: center;
  color: var(--color-white);
}

button[data-popup="open"] {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 5px 10px;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 960px) {
  .popup-wrap {
    display: flex;
  }
  .screen-size-info {
    display: none;
  }
}